@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.slide-cap{
    left: -100px!important;
    top: 150px!important;
    right: 100px;
    margin-right: 600px!important;
}
.slide-cap>h2{
    color: rgb(150, 32, 32)!important;
    font-family: "Poppins", sans-serif!important;
    font-weight: 900!important;
    font-style: normal!important;

}
.foot-h>h5:hover{
    color: rgb(14, 152, 14);
    text-decoration: underline;

}
.foot-h>p:hover{
    color: rgb(14, 152, 14);
    
}
.cards{
    border-radius: 27px!important;

}
.cards:hover{
    background-color: rgb(14, 152, 14);
   
}
.cardt>p:hover{
    color: white;
}
.cardt>a:hover{
    color: white;
}
.cardtext{
    position: absolute!important;
    top: 230px;
}
.carda{
    position: absolute!important;
    top: 200px;
}
.cardsec{
    margin-top: 200px!important;
    margin-bottom: 50px!important;
}
.imgover{
    width: 200px!important;
    position: absolute;
    top: 50px;
    left: 60px;
}
@media  screen and (min-width:100px) and (max-width:576px) {
    .cardsec{
        margin: 100px 0px;

    }
    .cardm{
        margin-top: 100px;
    }
    .cardmm{
        margin: 90px 0px;
    }
    .faq-m{
        margin-top: 100px;
    }
    .imgover{
        position: absolute;
        top: 20px;
        left: 35px;
        width: 200px!important;
        height: 270px;

    }
    .imgover li{
        font-size: 0.85rem!important;
    }
    .imgover h5{
        font-size: 1rem;
    }
}